<%= stylesheet_link_tag "index" %>
<body id="intro">
<br><br>
<h1>MotherFuckin Badass HTML</h1>



<div class ="cont">
<h2 class="top">TOP HEADER</h2>
Welcome to the sandbox<hr>
This is where Erik fucks around with css, html, RoR and all that good shit<hr>
I have to put a lot of content <br>
in this box<br>
or else I think the top and bottom halves will overlap<br>
one another.<br>
So here is a picture for you to enjoy:<br>
<img src="/assets/amg.jpg" id="AGimg">
<div class="bottom">BOX FOOTER</div>
</div>
</div>
</body>