<html>
  <head> 
   <title>SandBox</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

        <div id="titleWrap"><h1 id="title">The SandBox</h1></div>
        <div id="breaker"></div>

        <ul id=nav>
            <li id="indent"></li>
            <li id="t-intro"><!-- <button> --><a href="/">Introduction</a><!-- </button> --></li>
            <li id="t-news"><a href="news.html">News</a></li>
            <li id="t-tacos"><a href="tacos">Tacos</a></li>
            <li id="t-resume"><a href="resume">Resume</a></li>
            <li id="t-title"></li>
        </ul>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
